/* @tailwind base;
@tailwind components;
@tailwind utilities; */

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


h1 {
  @apply mb-2 text-xl;
}

label {
  @apply text-yellow-800
}

input, textarea {
  @apply border border-yellow-700 rounded-md px-1 w-full;
  @apply mb-2;
}
input:focus, textarea:focus {
  @apply border-blue-500;
}

table.basic {
  @apply w-full mt-4;
}

table.basic tr td {

  @apply border border-yellow-800 p-1;
}

.btn-primary {
  @apply text-white bg-yellow-700 hover:bg-yellow-800 px-4 rounded-md
}
/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}


/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */
